@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --monserrat: 'Montserrat', sans-serif;
    --krona-one: 'Krona One', sans-serif;
    --hover: #272727;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.menu{
    display: flex;
    gap: 80px;
}

.menu_link{
    font-family: var(--monserrat);
    font-size: 1.416rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.img{
    width: 50%;
}

.line{
    color: var(--color-terciario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
}

.seccion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_titulo{
    font-size: 2.152rem;
    font-family: var(--krona-one);
}

.presentacion_parrafo{
    font-family: var(--monserrat);
    font-size: 1.416rem;
}

.enlaces{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.enlaces :hover{
    background-color: var(--hover);
}

.link{
    width: 378px;;
    margin: 10px;
    background-color: var(--color-primario);
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    border: 2px var(--color-terciario) solid;
    font-family: var(--monserrat);
    font-size: 2.152rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);

    display: flex;
    justify-content: center;
}

.imagen_link{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.pie_de_pagina{
    background-color:var(--color-terciario);
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 10px;
    font-family: var(--monserrat);
    font-size: 1.416rem;
    line-height: 36px;
}

.link_acceso{
    top: 627px;
    left: 421px;
    color: var(--color-secundario);
    width: 320px;
    height: 40px;
    font-family: var(--krona-one);
    font-size: 1.416rem;
    line-height: 40px;
    align-items: center;
}
@media(max-width:1300px){
    .header{
        padding: 5%;
    }

    .menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5% 5%;
    }
    .pie_de_pagina{
        padding: 5%;
    }
    .seccion_contenido{
        width: auto;
    }
}